<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <h1>Cupcakes</h1>
        <ul id="cupcakes"></ul>
        <form action="#">
            <label for="flavor">Flavor:</label>
            <input type="text" name="flavor" id="flavor">
            <label for="rating">Rating:</label>
            <input type="number" step="1" name="rating" id="rating">
            <label for="size">Size:</label>
            <input type="text" name="size" id="size">
            <label for="image">Image:</label>
            <input type="text" name="image" id="image">
            <button id="add-button">Add</button> 
            <button id="delete-button">Delete</button>
        </form>
        
</body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./static/scripts/script.js"></script>
</html> 